@import '../commonness.scss';

.Button {
  width: 100%;
  padding: dp(12);
  border: none;
  border-radius: dp(8);
  background-color: $bg-btn;
  box-shadow: 0 dp(4) dp(6) rgba(0, 0, 0, 0.2);
  p {
    margin: 0;
    color: #ffffff;
    @include font(bold, 20, 24);
  }
  &:hover,
  &:focus {
    background-color: $hov-btn;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  &:active {
    background-color: $hov-btn;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}
