@import '../../commonness.scss';

.FortunePage {
  @keyframes shake-up-down {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(dp(10));
    }
  }
  .Sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .FortuneCookie {
      display: grid;
      width: dp(210);
      height: dp(210);
      margin: 0 auto dp(32);
      place-items: center;
      border: 1px solid transparent;
      border-radius: 50%;
      background: linear-gradient($bg-page, $bg-page) padding-box, $nacre border-box;

      img { width: dp(150); }

      &.Active {
        animation: shake-up-down 0.55s ease-in-out 2;
      }
    }

    .Button { max-width: dp(360); }
  }
}
