@import '../../commonness.scss';

.TarotResultPage {
  .Sections {
    overflow-y: auto;
    .ResultWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .Divider {
        display: flex;
        align-items: center;
        width: 100%;
        margin: dp(20) 0;
        text-align: center;
      }

      .Divider::before,
      .Divider::after {
        flex: 1;
        margin: 0 dp(10);
        border-top: dp(1) solid $bg-header;
        content: '';
      }

      .Divider span {
        padding: 0 dp(10);
        font-weight: bold;
      }

      --card-src: '';
      .Images {
        width: dp(190);
        height: dp(260);
        margin: dp(20) 0;
        border: dp(4) solid #3a1c1a;
        background-image: var(--card-src);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
}
