@import '../../commonness.scss';

.TarotPage {
  .Sections {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    padding: dp(20);
    white-space: nowrap;

    article {
      &:nth-of-type(1) {
        display: flex;
        justify-content: space-evenly;
        min-height: dp(120);
        padding: dp(30) 0 dp(10);
        .CardWrap {
          --card-src: '';
          .Selected {
            width: dp(95);
            height: dp(130);
            border: dp(4) solid $c-brown;
            background-image: var(--card-src);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
          div:last-child {
            width: 100%;
            height: dp(25);
            background-color: $c-brown;
            color: #fff;
            text-align: center;
            @include font(400, 12, 22);
            letter-spacing: dp(-0.75);
          }
          &.animate {
            animation: moveToPosition 0.5s ease-out forwards;
          }
        }
      }
      &:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-grow: 1;
        transform: rotate(-90deg);
        .CardContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          width: 100%;
          height: 100%;
          transform-origin: left center;

          .card {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 15%;
            left: 0;
            width: dp(80);
            height: dp(120);
            opacity: 1;
            border: dp(1) solid #000;
            background-image: url('../../../images/main.png');
            background-repeat: no-repeat;
            background-size: cover;
            transform-origin: bottom center;
            transition: opacity 0.5s, transform 0.5s;

            /* 카드가 반원 형태로 배열되도록 설정 */
            &:nth-child(n) {
              animation: unfold 0.8s ease-out forwards;
              // transform: rotate(calc(var(--i))) translateX(0%);
              // animation-delay: calc(var(--i) * 0.05s);
            }
          }
        }
      }
    }
  }
  @keyframes unfold {
    0% {
      opacity: 0;
      transform: rotate(0deg) translateY(0);
    }
    100% {
      opacity: 1;
      transform: rotate(calc(var(--i) * 12deg)) translateY(-50%);
    }
  }

  @keyframes moveToPosition {
    from {
      transform: scale(0.8) translateY(50%);
    }
    to {
      transform: scale(1) translateY(0);
    }
  }
}
