@import '../../commonness.scss';

.SajuResultPage {
  .Sections {
    --bg-color: $c-brwon;
    --color: #333;
    overflow: auto;
    > h2,
    > p {
      margin: 0;
    }
    article {
      &:nth-of-type(1) {
        display: flex;
        justify-content: space-evenly;
        p {
          padding: dp(15);
          border: dp(1) solid var(--bg-color);
          border-radius: dp(12);
          background-color: var(--bg-color);
          color: var(--color);
        }
      }
    }
    table {
      width: 100%;
      padding-top: dp(30);
      border-spacing: 0;
      thead {
        background-color: #fff;
        tr {
          th {
            padding: dp(10);
            border-top: dp(1) inset $c-brown;
            border-bottom: dp(1) inset $c-brown;
            &:first-child {
              border-left: dp(1) inset $c-brown;
              border-top-left-radius: dp(12);
              border-bottom-left-radius: dp(12);
            }
            &:last-child {
              border-right: dp(1) inset $c-brown;
              border-top-right-radius: dp(12);
              border-bottom-right-radius: dp(12);
            }
          }
        }
      }
      tbody {
        tr {
          td {
            padding-top: dp(10);
            div {
              width: 80%;
              margin: 0 auto;
              padding: dp(10) dp(5) dp(5);
              border: dp(1) solid var(--bg-color);
              border-radius: dp(10);
              background-color: var(--bg-color);
              text-align: center;
              p {
                margin: 0;
                color: var(--color);
                @include font(800, 26, 30);
              }
              small {
                color: #fff;
                text-decoration: none;
                @include font(500, 12, 20);
              }
            }
          }
        }
      }
    }
  }
}
