@import '../../commonness.scss';

.SajuPage {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  section {
    flex-grow: 1;
    form {
      margin-bottom: dp(30);
      padding: dp(30) dp(20);
      border-radius: dp(8);
      background-color: #fff;

      h3 {
        margin: 0 0 dp(30) 0;
        text-align: center;
      }
    }
  }
}
