@import '../../commonness.scss';

.SajuPage {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  section {
    flex-grow: 1;
    form {
      margin-bottom: dp(30);
      padding: dp(30) dp(20);
      border-radius: dp(8);
      background-color: #fff;

      h3 {
        margin: 0 0 dp(30) 0;
        text-align: center;
      }
    }
  }
}

.SajuResultPage {
  .Sections {
    overflow: auto;
    > h2,
    > p {
      margin: 0;
    }
    article {
      &:nth-of-type(1) {
        display: flex;
        justify-content: space-evenly;
        p {
          padding: dp(15);
          border: dp(1) solid $c-b;
          border-radius: dp(12);
          background-color: $c-b;
          color: #fff;
        }
      }
    }
    table {
      width: 100%;
      padding-top: dp(30);
      border-spacing: 0;
      thead {
        background-color: #fff;
        tr {
          th {
            padding: dp(10);
            border-top: dp(1) inset $c-b;
            border-bottom: dp(1) inset $c-b;
            &:first-child {
              border-left: dp(1) inset $c-b;
              border-top-left-radius: dp(12);
              border-bottom-left-radius: dp(12);
            }
            &:last-child {
              border-right: dp(1) inset $c-b;
              border-top-right-radius: dp(12);
              border-bottom-right-radius: dp(12);
            }
          }
        }
      }
      tbody {
        tr {
          td {
            padding-top: dp(10);
            div {
              padding: dp(10) dp(5) dp(5);
              text-align: center;
              margin: 0 auto;
              background-color: #fff;
              border-radius: dp(10);
              border: dp(1) solid $c-b;
              width: 80%;
              p {
                @include font(800, 26, 30);
                margin: 0;
              }
              small {
                @include font(500, 12, 20);
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
