@import '../commonness.scss';

.Pages {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $bg-page;
  header {
    display: flex;
    align-items: center;
    position: relative;
    padding: dp(16);
    background-color: #fff;
    button {
      position: absolute;
      min-width: dp(30);
      border: none;
      background-color: inherit;
    }
    h1 {
      margin: 0;
      text-align: center;
      flex-grow: 1;
    }
  }
  section {
    padding: dp(16);
    flex-grow: 1;
  }
  footer {
    min-height: dp(50);
    background-color: steelblue;
  }
}
