@import '../commonness.scss';

.Pages {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $bg-page;
  header {
    display: flex;
    align-items: center;
    position: relative;
    padding: dp(16);
    background-color: $bg-header;
    color: #fff;
    button {
      position: absolute;
      min-width: dp(30);
      border: none;
      background-color: inherit;
    }
    h1 {
      margin: 0;
      text-align: center;
      flex-grow: 1;
      @include font(bold, 24, 30);
    }
  }
  section {
    padding: dp(16);
    flex-grow: 1;
  }
  footer {
    min-height: dp(50);
    background-color: $bg-footer;
    .KakaoAdd {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
      min-width: 300px;
      min-height: 100px;
      margin-top: 20px;
      text-align: right;
    }
    .KakaoAdd a {
      display: none;
      padding: 10px;
      font-weight: bold;
      color: rgb(110, 110, 115);
      text-decoration: none;
    }
  }
}
